.App {  
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
h3,h2{
  font-family: 'IBM Plex Sans',
  sans-serif;

}
h1{

  font-family: 'Rock Salt',
  cursive;

}
.App-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App-heading {
  height: 100vh;
  background-color: #343a47;
  color: #f2777a;
  font-size: 3em;
 
}

.timePerson {
      height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #4158D0;
      background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
      color: white;

}

img {
  border-radius: 100%;
  
}
